
.header{
    display: flex;
    background-color: #ff5722;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.logo-container{
    margin-left: 10px;
    padding: 5px;
}




.logo {
    width: 150px;                  
    border-radius: 5px;
} 

.nav-items {
    display: flex;
    gap: 30px;                    
    list-style-type: none;         
    margin: 0;
    font-size: 18px;
    cursor: pointer;
}

/* Search Bar */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container input {
    padding: 8px;
    width: 200px;                 
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-container button {
    padding: 8px 12px;
    border: none;
    background-color: #ff5722;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* Restaurant Cards */
.restaurant-container {
    display: flex;                
    flex-wrap: wrap;              
    gap: 15px;                     
    justify-content: center;
}

.restaurant-card {
    background-color: white;
    width: 150px;                 
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.restaurant-card img {
    width: 100px;                  
    height: 100px;
    object-fit: contain;
    margin-bottom: 5px;
     
}

.restro-image{
    width:100%;
   height:200px;
   border-radius: 10px;
  
}

.restro-card{
    width:250px;
    height:fit-content;
    border-radius:10px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
   
}
.restro-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    
}
